<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle Usuario</title>
    <link rel="stylesheet" href="/AdminUserDetails.css">

</head>
<body class="container">
    <div class="main-wrapper"> <h1>Detalle del Usuario</h1>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{usuario.name}} {{usuario.surname}}</h2>
                <p><strong>Email</strong> {{usuario.email}}</p>
                <p><strong>ID Usuario</strong> #{{usuario.id}}</p>
                
                <a href="/AdminUser" class="btn-secondary">Volver al Panel</a>
            </div>
        </div>
    </div>
</body>
</html>